<div id="invite-popup" class="wrapper main" style="display: none">
        <div class="video counsellor">
            <div class="picture">
                    <video id="your-video" src="" autoplay style="border: 2px solid green">
        
                    </video>
                  <!-- <img src="images/m_image_counsellor.png" alt="상담사"> -->
             </div>
        </div>
        <div class="video customer">
            <div class="picture">
                <video id="my-video" src="" autoplay style="border: 2px solid red">
    
                </video>
                <!-- <img src="images/m_image_customer.png" alt="사용자"> -->
             </div>
        </div>
        <div id="comment" class="comment">
            <p><span>knowledgepoint</span> 연결하시겠습니까?</p>
        </div>
        <div id="btn-group" class="button">
            <a id="accept-btn" class="phone start">연결</a>
            <a id="reject-btn" class="phone end">종료</a>
        </div>
    </div>