<!DOCTYPE html>
<html lang="ko">
<head>
    <% include ../../views/partials/head.ejs %>
</head>
<body>
    <% include ../../views/pages/login.ejs %>
    <% include ../../views/pages/main.ejs %>
    <% include ../../views/pages/call.ejs %>
    <% include ../../views/pages/whiteboard.ejs %>
</body>
</html>
