<div id="app-login" class="wrapper login">
    <div class="container">
        <div class="content">
            <h1><img src="images/m_login_logo.png"></h1>
            <form>
                <ul>
                    <li>
                        <label >아이디 *</label>
                        <input type="text" id="user-id" placeholder="아이디를 입력해 주세요" value="gtest1">
                    </li>
                    <li>
                        <label >비밀번호 *</label>
                        <input type="password" id="user-pwd" placeholder="비밀번호를 입력해 주세요" value="test">
                    </li>
                </ul>
                <div class="save">
                    <input type="checkbox" id="">
                    <label for="">아이디저장</label>
                </div>
                <div class="error" style="display:none">
                    <p>아이디 또는 비밀번호를 다시 확인하세요.</p>
                </div>
                <a id="login-btn" class="btn">로그인</a>
                <div class="find">
                    <a id="find-id-btn">아이디찾기</a>
                    <a id="find-pwd-btn">비밀번호찾기</a>
                </div>
            </form>
        </div>
    </div>
</div>