<div id="app-whiteboard" class="wrapper main" style="display: none">
    <div class="video whiteboard">
        <div id="canvas-view">
            <canvas id="whiteboard-canvas" style="border: 1px solid red;"></canvas>
            <canvas id="image-canvas" style="border: 3px solid blueviolet; "></canvas>
        </div>

        <div id="video-view">
            <video id="screen-video" autoplay>
            </video>
        </div>

    </div>
    <!-- <div class="video customer">
         <img src="images/m_image_customer.png" alt="사용자">
    </div> -->
    <div class="shadow"></div>
    <div class="icon">
        <a class="camera">영상화면</a>
        <a class="transform">화면전환</a>
        <a class="menu">메뉴</a>
    </div>
    <div class="button">
        <a class="camera">카메라</a>
        <a class="audio off">소리</a>
        <a class="phone end">전화끊기</a>
    </div>
</div>