<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width">

<title>knowledgeTalk 화상컨설팅 서비스</title>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/counsellor_m.css">

<!-- Script -->
<!-- jQuery CDN -->
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>

<!-- Socket IO -->
<script src='/socket.io/socket.io.js'></script>
<script> 
window.socketInfo = `<%= socketUrl %>` 
console.log(window.socketInfo)
</script>

<!-- Util -->
<script src="../../js/utils/logger.js"></script>
<script src="../../js/utils/notice.js"></script>
<script src="../../js/utils/sha256.js"></script>
<script src="../../js/utils/date.js"></script>

<!-- Model -->
<script src="../../js/models/util.js"></script>
<script src="../../js/models/user.js"></script>
<script src="../../js/models/date.js"></script>
<script src="../../js/models/socket.js"></script>

<!-- Controller -->
<script src="../../js/controllers/login.js"></script>
<script src="../../js/controllers/socket.js"></script>
<script src="../../js/controllers/menu.js"></script>
<script src="../../js/controllers/consulting.js"></script>

<script src="../../js/controllers/app.js"></script>




