<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width">

<title>knowledgeTalk 화상컨설팅 서비스</title>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/counsellor_m.css">

<!-- Script -->
<!-- jQuery CDN -->
<script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="js/utils/adapter.js"></script>

<!-- Socket IO -->
<script src='/socket.io/socket.io.js'></script>
<script>
    // android cordova source
    if (navigator.userAgent.match('Android') != null)
        document.write('<script src="cordova/cordova.js"><\/script>');
</script>
<script> 
window.socketInfo = `<%= socketUrl %>` 
</script>




